<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
 
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    form {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        width: 400px;
        margin: auto;
    }

    div {
        margin-bottom: 5px;
    }

    label {
        display: block;
        font-size: 14px;
        margin-bottom: 5px;
    }

    select,
    input,
    textarea {
        width: 100%;
        padding: 10px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    select {
        height: 35px; /* Ajusta la altura según tus preferencias */
    }

    /* Personaliza el estilo del botón según tus preferencias */
    input[type="submit"] {
        background-color: #3498db;
        color: #ffffff;
        border: none;
        padding: 10px 15px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    input[type="submit"]:hover {
        background-color: #2980b9;
    }
</style>
<%= form_for @user, url: user_path, method: :patch do |f| %>

    <div>
        <%= f.label :'Tipo de documento',id: 'docType' %>
        <%= f.select :docType, User.docTypes.keys.map{ |key| [key.humanize, key] },value: @user.docType %>
    </div>
    <div>
        <%= f.label :'Número de Documento',id: 'docNum' %>
        <%= f.number_field :docNum, max: 9999999999,required: true,value: @user.docNum%>
    </div>
    <div>
        <%= f.label :Nombre ,id: 'firstName' %>
        <%= f.text_field :firstName ,required: true,maxlength: 30,value: @user.firstName%>
    </div>
    <div>
        <%= f.label :'Segundo nombre',id: 'secondName' %>
        <%= f.text_field :secondName, maxlength: 30, value:@user.secondName%>
    </div>
    <div>
        <%= f.label :Apellidos ,id: 'lastName' %>
        <%= f.text_field :lastName ,required: true, maxlength: 60,value: @user.lastName%>
    </div>
    <div>
        <%= f.label :Género,id: 'gender' %>
        <%= f.select :gender, User.genders.keys.map{ |key| [key.humanize, key] } ,required: true, value:@user.gender%>
    </div>
    <div>
        <%= f.label :'Fecha de Nacimiento ' ,id: 'dateBirth'%>
        <%= f.date_field :dateBirth, id: 'dateBirth' ,required: true,value: @user.dateBirth%>
    </div>
    <div>
        <%= f.label :email ,id: 'id_email'%>
        <%= f.email_field :email, id: 'email', class: 'form-control' ,required: true,value: @user.email%>
    </div>
    <div>
        <%= f.label :Número ,id: 'phoneNumber' %>
        <%= f.number_field :phoneNumber ,required: true, max:9999999999,value: @user.phoneNumber%>
    </div>
    <div>
        <%= f.submit 'Modificar', class: 'btn btn-primary' %>
    </div>
    
<% end %>
