<div>
    <div>
        <h1>Listado de usuarios</h1>
    </div>
        <%= button_to "Nuevo", "/users/new",method: :get,class: "btn btn-info" %>
        <%= button_to "Log", "/users/log",method: :get,class: "btn btn-info" %>
        <%= button_to "Consultar", "/users/consult", method: :get ,class: "btn btn-info" %>
    <div>
    </div>
</div>

<table>
    <thead>
        <tr>
            <th>Foto</th>
            <th>Tipo de Documento</th>
            <th>N. Documento</th>
            <th>Primer Nombre</th>
            <th>Segundo Nombre</th>
            <th>Apellidos</th>
            <th>Fecha de Nacimiento</th>
            <th>Género</th>
            <th>Correo Electrónico</th>
            <th>Celular</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
            <tr>
                <td></td>
                <td><%= user.docType %></td>
                <td><%= user.docNum %></td>
                <td><%= user.firstName %></td>
                <td><%= user.secondName %></td>
                <td><%= user.lastName %></td>
                <td><%= user.dateBirth %></td>
                <td><%= user.gender %></td>
                <td><%= user.email %></td>
                <td><%= user.phoneNumber %></td>
                <td><%= link_to "Modificar",
                            edit_user_path(user),
                            class: "btn btn-danger btn-lg"  %></td>
                <td><%= button_to "delete", user_path(user), method: :delete,
                            class: "btn btn-danger btn-lg"  %></td>
            </tr>
        <% end %>
    </tbody>
</table>