<%= form_for(User.new) do |f| %>
    <div>
        <%= f.label :docType %>
        <%= f.select :docType, User.docTypes.keys.map{ |key| [key.humanize, key] } %>

    </div>
    <div>
        <%= f.label :docNum %>
        <%= f.text_field :docNum %>
    </div>
    <div>
        <%= f.label :firstName %>
        <%= f.text_field :firstName %>
    </div>
    <div>
        <%= f.label :'Segundo nombre' %>
        <%= f.text_field :secondName %>
    </div>
    <div>
        <%= f.label :Apellidos %>
        <%= f.text_field :lastName %>
    </div>
    <div>
        <%= f.label :dateBirth %>
        <%= f.date_field :dateBirth, class: 'form-control' %>
    </div>
    <div>
        <%= f.label :gender %>
        <%= f.select :gender, User.genders.keys.map{ |key| [key.humanize, key] } %>
    </div>
    <div>
        <%= f.label :email %>
        <%= f.text_field :email %>
    </div>
    <div>
        <%= f.label :Número %>
        <%= f.text_field :phoneNumber %>
    </div>
    <div>
        <%= f.submit %>
    </div>
<% end %>