<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
 
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    form {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        width: 400px;
        margin: auto;
    }

    div {
        margin-bottom: 5px;
    }

    label {
        display: block;
        font-size: 14px;
        margin-bottom: 5px;
    }

    select,
    input,
    textarea {
        width: 100%;
        padding: 10px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    select {
        height: 35px; /* Ajusta la altura según tus preferencias */
    }

    /* Personaliza el estilo del botón según tus preferencias */
    input[type="submit"] {
        background-color: #3498db;
        color: #ffffff;
        border: none;
        padding: 10px 15px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    input[type="submit"]:hover {
        background-color: #2980b9;
    }
</style>

<%= form_for(User.new) do |f| %>
    <div>
        <%= f.label :docType %>
        <%= f.select :docType, User.docTypes.keys.map{ |key| [key.humanize, key] } %>

    </div>
    <div>
        <%= f.label :docNum %>
        <%= f.text_field :docNum %>
    </div>
    <div>
        <%= f.label :firstName %>
        <%= f.text_field :firstName %>
    </div>
    <div>
        <%= f.label :'Segundo nombre' %>
        <%= f.text_field :secondName %>
    </div>
    <div>
        <%= f.label :Apellidos %>
        <%= f.text_field :lastName %>
    </div>
    <div>
        <%= f.label :dateBirth %>
        <%= f.date_field :dateBirth, class: 'form-control' %>
    </div>
    <div>
        <%= f.label :gender %>
        <%= f.select :gender, User.genders.keys.map{ |key| [key.humanize, key] } %>
    </div>
    <div>
        <%= f.label :email %>
        <%= f.text_field :email %>
    </div>
    <div>
        <%= f.label :Número %>
        <%= f.text_field :phoneNumber %>
    </div>
    <div>
        <%= f.submit %>
    </div>
<% end %>